
.App {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  background-color:#E2E0EC;
}

body {
  margin: 0;
  
}

.myNavbar
{
  box-shadow: 0 .3rem 3rem rgba(0,0,0,.1);
  height:90px;
  font-size: 25px;

}
Link {
  cursor: pointer;
  
  
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
